.header-container {
  padding-top: 70px;
  .upper_picture {
    .left_large_picture {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: 9px;
        left: 9px;
        width: 62px;
        height: 62px;
        background-color: #222;
        border-radius: 50%;
        z-index: 1000;
        box-shadow: 0px 0px 8px 1px #ccc;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 25px;
        left: 32px;
        width: 0;
        height: 0;
        border-top: 14px solid transparent;
        border-bottom: 14px solid transparent;
        border-left: 23px solid white;
        z-index: 1000;
      }
      .wrap_img {
        position: relative;
        &__content {
          .treding_img {
            width: 100%;
            height: 271px;
            z-index: 1;
          }
          .anime_des {
            position: absolute;
            bottom: 10px;
            left: 100px;
            .name {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              font-size: 20px;
              color: $text-color-white;
            }
            .views {
              color: $text-color-white;
              font-size: 12px;
            }
          }
        }
      }
      .slick-dots {
        li {
          display: none;
        }
      }
    }
    .right_picture {
      flex: 1;
      .normal_picture {
        height: 85px;
        &__img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .lower_picture {
    .normal_picture {
      height: 85px;
      &__img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
