.wrap-category {
  .wrap_episodes {
    .episode {
      position: relative;
      height: 180px;
      color: #f5f5f5;
      overflow: hidden;
      &::before {
        content: "";
        position: absolute;
        top: 9px;
        left: 23px;
        display: none;
        width: 62px;
        height: 62px;
        background-color: #222;
        border-radius: 50%;
        z-index: 1000;
        box-shadow: 0px 0px 8px 1px #ccc;
      }
      &::after {
        content: "";
        position: absolute;
        top: 25px;
        left: 45px;
        width: 0;
        height: 0;
        display: none;
        border-top: 14px solid transparent;
        border-bottom: 14px solid transparent;
        border-left: 23px solid white;
        z-index: 1000;
      }
      &:hover::after,
      &:hover::before {
        display: block;
        animation: fade 0.4s ease;
        transition: all 0.4s;
      }
      .background_episode {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        transition: all 0.4s;
        .fade_bottom {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 50px;
          background: linear-gradient(
            180deg,
            transparent,
            rgba(37, 37, 37, 0.6),
            #111
          );
        }
        img {
          width: 100%;
          height: 100%;
          transition: all 0.4s;
        }
        &:hover .img {
          transform: scale(1.2);
        }
      }

      .wrap_info {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 14px;
        z-index: 10;
        .name {
          font-size: 15px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .wrap_des {
          display: flex;
          justify-content: space-between;
          font-size: 12px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .fade_bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
        background: linear-gradient(
          180deg,
          transparent,
          rgba(37, 37, 37, 0.6),
          #111
        );
      }
    }
  }
  .wrap_episodes_half {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    .episode_halfheight {
      color: #f5f5f5;
      height: 100px;
      .background_halfheight {
        position: relative;
        flex: 1;
        img {
          width: 100%;
          height: 100%;
        }
        &:hover::before {
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(239, 240, 242, 0.14);
          cursor: pointer;
          transition: all 0.5s;
          animation: fade 0.4s ease;
          z-index: 1000;
        }
      }
      .wrap_info_halfheight {
        padding: 0 10px;
        flex: 1;
        .wrap_des_halfheight {
          color: black;
        }
      }
    }
  }
  .wrap_episodes_tall {
    .episode_tall {
      position: relative;
      color: #f5f5f5;
      overflow: hidden;
      height: 300px;
      .background_episode_tall {
        width: 100%;
        height: 100%;
        transition: all 0.4s;
        img {
          width: 100%;
          height: 100%;
        }
      }
      &:hover::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(239, 240, 242, 0.14);
        transition: all 0.5s;
        animation: fade 0.4s ease;
        cursor: pointer;
        z-index: 1000;
      }
      .chapter {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 1px;
        margin: 6px;
        border: 1px solid $text-color-white;
        border-radius: 3px;
        font-size: 12px;
        background: rgba(10, 6, 6, 0.4);
      }
      .name {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 14px;
        z-index: 10;
        font-size: 15px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  .wrap_episodes_season {
    .episode_season {
      position: relative;
      height: 180px;
      color: #f5f5f5;
      overflow: hidden;
      .background_episode_season {
        width: 100%;
        height: 100%;
        transition: all 0.4s;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
