.nav-container {
  z-index: 9999;
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
  .row {
    .left {
      display: flex;
      justify-content: space-between;
      .logo {
        &_img {
          width: 150px;
          height: 40px;
        }
      }
    }
    .category_list {
      list-style: none;
      margin-bottom: 0 !important;
      &__item {
        margin: 5px;
        padding: 0 15px;
        border-radius: 15px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        border: 1px solid #ccc;
      }
    }
    .search {
      position: relative;
      .ant-input {
        border-radius: 20px;
        width: 320px;
        font-size: 13px;
        border: 1px solid #ddd;
        outline: none;
      }
      .anticon-search {
        position: absolute;
        right: 7px;
      }
    }
  }
  .right {
    .darkmode {
      position: relative;
      float: left;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      padding: 0;
      line-height: 38px;
      border-radius: 20px;
      font-size: 25px;
      text-align: center;
      cursor: pointer;
      background: #eee;
      -webkit-transition: background 0.3s, color 0.3s;
      transition: background 0.3s, color 0.3s;
      .anticon-bulb {
        position: absolute;
        top: 9px;
        left: 8px;
      }
    }
    .user {
      position: relative;
      float: right;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
      color: #fff;
      overflow: hidden;
      background: rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: 0 0 5px #ccc;
      box-shadow: 0 0 5px #ccc;
      -webkit-transition: width 0.5s, height 0.5s, margin 0.5s;
      transition: width 0.5s, height 0.5s, margin 0.5s;
      .anticon-user {
        position: absolute;
        top: 12px;
        left: 13px;
      }
    }
  }
}
